body {
  background-color: #fffcf3;
}

/* Navbar */
.navbar {
  background-color: #ffd6ab;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  margin-left: 16px;
  font-size: 30px;
}

.navbar-brand:hover {
  color: #ff7e67;
}

/* Dashboard */
.side-content {
  background-color: rgba(255, 214, 171, 0.42);
  border-radius: 30px;
}
.middle-content {
  background-color: rgba(255, 214, 171, 0.42);
  border-radius: 30px;
}

.greeting {
  font-family: "Covered By Your Grace", cursive;
  margin-top: 20px;
}

.date {
  font-family: "Playfair Display", serif;
  opacity: 0.5;
  margin-top: 30px;
  font-size: small;
}

.main-card {
  background-color: rgba(255, 214, 171, 0.42);
  border-radius: 15px;
}

.grati-question {
  font-family: "Playfair Display", serif;
  padding: 10px;
  font-weight: bolder;
}

.card-header {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 30px;
}

.skill-text {
  font-family: "Playfair Display", serif;
  padding: 10px;
}

.add-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; /* Plus symbol size */
  cursor: pointer; /* Change mouse cursor on hover */
}

.add-skill:hover {
  background-color: rgba(255, 214, 171, 1);
}

.modal-content {
  font-family: "Playfair Display", serif;
}

.modal-content .btn-primary {
  background-color: rgba(255, 126, 103, 0.5);
  border: none;
  color: black;
}

.modal-content .btn-primary:hover {
  background-color: #ff7e67;
  border-color: #ff7e67;
}
